div {
/*   font-family: 'Muli', sans-serif; */
  font-family: 'Nunito', sans-serif;
/*   font-family: monospace; */
}


.about, .projects, .contact, .portfolio {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #eee;
  padding: 15px;
  padding-top: 25px;
  border-radius: 10px;
  position:relative;
  max-width: 600px;
  margin: 50px auto;
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
  }
  25% {
    transform: translatey(-7px);
  }
	50% {
		/* box-shadow: 0 10px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-3px);
  }
  75%{
    transform: translatey(-5px);
  }
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}


.projects::before,.about::before,.contact::before {
  font-family: monospace;
  font-size: 1.65rem;
  font-weight: 700;
  top: -30px;
  border-radius: 10px;
  position: absolute;
  background-color: #ffeb3b;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  left: -15px;
}

.projects::before{
  background-color: #ffeb3b;
  content: 'Projects';
}

.projects:hover::before, .contact:hover::before, .about:hover::before  {
  transform: translateY(-10px);
  font-size: 1.6rem;
  /* animation: float 2s infinite; */
}

.about::before {
  background-color: #49C5B6;
  color: #eee;
  content: 'About me';
}

.contact::before {
  background-color:#f44336;
  color: #eee;
  content: 'Contact';
}

.about:hover, .projects:hover, .portfolio:hover, .contact:hover  {
  transform: scale(1.001);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
}

.button {
  font-size: 1rem;
  font-weight: 600;
  background-color:#ffeb3b;
  border-radius: 5px;
  padding: 10px;
  border-color: #285AEB;
  border-style: solid;
  color: #eee;
  border-width: 0px 3px 3px 0px;
  transition: all 0.3s ease;
  color: #222;
}

.button:active {
  background-color: #285AEB;
  color: #eee;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
  background-color: #285AEB;
  color: #eee;
  text-decoration: none;
}

body {
  margin-bottom: 50px;
  background-color: rgb(244,247,246);
}

.tag {
  background-color: #f4f7f6;
  padding: 5px;
  border-radius: 10px;
}

/* .container {
  width: 600px;
}


@media (max-width: 600px) {
  .container {
    width: 400px;
  }

} */

.me {
  width: 80px;
  position: absolute;
  top:-50px;
  right: -20px;
}

.introText {
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-bottom: 10px;
}

.degree {
  position: absolute;
  top: 78px;
  left: -9px;
}

.name1 {
  position: absolute;
  top: 15px;
  left: 68px;
}

.name2 {
  position: absolute;
  top: 54px;
  left: -65px;
}

.email {
  position: absolute;
  top: 97px;
  left: -57px;
}

.profile {
  height: 130px;
  left: 50%;
  transform: translateX(-120px);
  position: relative;
  margin: 30px 0 30px 0;
  width: 200px;
}

.project-link {
  text-decoration: none;
  color: black;
}

.project-link:link, .project-link:visited, .project-link:hover, .project-link:active{
  text-decoration: none;
  color: black;
}

#profilepic {
  position: absolute;
  left: 159px;
  top: 17px;
  z-index: 1;
  height: 100px;
  border-radius: 10px;
}


#or{
  color: #f4f7f6;
  z-index: 1000;
  position: relative;
}


.instaPic {
  width: 100px;
  position: absolute;
  left: 159px;
  top: 17px;
  border-radius: 10px;
  transition: all 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.profile:hover .instaPic.instapicone{
  transform: translate(40px, 0px) rotate(20deg);
  border-radius: 10px;
}

.profile:hover .instaPic.instapictwo{
  transform: translate(70px, 0px) rotate(40deg);
  border-radius: 10px;
}

.instapictwo {
  z-index: -1;
}

.instaBtn {
  position: absolute;
  left: 235px;
  z-index: 1;
  width: 44px;
  top: 50px;
  opacity: 0;
  transition: opacity 0.6s ease;
  background: #d6249f;
  border: #d6249f;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  border-radius: 15px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.instaBtn:hover {
  transform: scale(1.5);
}

.instaBtn:active{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
} 

.instaBtn i {
  color: white;
  font-size: 30px;
  margin-left: -2.5px;
}

.profile:hover .instaBtn {
  opacity: 1;
}

/* show insta link and pics when on mobile
@media (max-width: 500px){
  .instaPic.instapicone{
    transform: translate(90px, -10px) rotate(0deg);
    height: 67px;
    width:  67px;
  }

  .instaPic.instapictwo{
    transform: translate(110px, 30px) rotate(0);
    height: 67px;
    width:  67px;
  }
  
  .instaBtn {
    opacity: 1;
  }
} */

.fa-codepen, .fa-github, .aboutIcon {
  transition: all 0.1s ease-in-out;
  position: absolute;
  top: -23px; 
}

.aboutIcon {
  left: 120px;
}

.fa-codepen{
  left: 120px;
}

.fa-github {
  left: 171px;
}


.fa-codepen:hover, .fa-github:hover, .aboutIcon:hover {
  opacity: 0.7 !important;
  transform: scale(1.1);
}

.item {
  opacity: 0;
  transform: translateX(40px);
   -webkit-transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out, transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  max-width: 510px;
}

.item:hover {
  transform: translateX(10px);
  opacity: 0.8;
}

.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

.item {
  display: flex;
  border-color: rgba(0,0,0,.125);
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-radius: 3px;
  justify-content: space-between;
}

.label {
  font-size: 8px;
  color: black;
}

.item-img {
  height: 70px;
  width: 110px;
  margin-left: 10px;
  object-fit: cover;
}

.item {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.btn {
  font-size: 14px;
}

.container {
  max-width: 630px;
}



/* clip(0px, 110px, 70px, 0px); */

.scroller {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 3%;
  right: 3%;
  background-color: #ffeb3b;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  padding: 3px;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.3s ease-in-out;
}

footer {
  margin: auto;
}