div {
/*   font-family: 'Muli', sans-serif; */
  font-family: 'Nunito', sans-serif;
/*   font-family: monospace; */
}

body {
  margin-bottom: 50px;
}

@media (min-width: 400px) {
  .container {
    width: 400px;
  }
}


.social {
  display: flex;
  justify-content: space-around;
  color: black;
  margin-bottom: 10px;
}

.degree {
  position: absolute;
  top: 75px;
  left: 55px;
}

.name1 {
  position: absolute;
  top: 20px;
  left: 100px;
}

.name2 {
  position: absolute;
  top: 45px;
  left: 20px;
}

.email {
  position: absolute;
  top: 95px;
  left: 25px;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.profile {
  height: 130px;
  position: relative;
  margin: 30px 0 30px 0;
}

#profilepic {
  position: absolute;
  left: 159px;
  top: 17px;
  z-index: 1;
  height: 100px;
  transition: all 0.6s ease-in;
}


#or{
  color: white;
  z-index: 1000;
  position: relative;
}


.instaPic {
  width: 100px;
  position: absolute;
  left: 159px;
  top: 17px;
  transition: all 0.35s ease-in-out;
}

.profile:hover .instaPic.instapicone{
  transform: translate(40px, 0px) rotate(20deg);
}

.profile:hover .instaPic.instapictwo{
  transform: translate(70px, 0px) rotate(40deg);
}

.instapictwo {
  z-index: -1;
}

.instaBtn {
  position: absolute;
  right: 75px;
  z-index: 1;
  top: 50px;
  opacity: 0;
  transition: opacity 0.6s ease;
  background: #d6249f;
  border: #d6249f;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  border-radius: 1.25rem;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.instaBtn i {
  color: white;
  font-size: 30px;
}

.profile:hover .instaBtn {
  opacity: 1;
}

/* show insta link and pics when on mobile */
@media (max-width: 500px){
  .instaPic.instapicone{
    transform: translate(40px, 0px) rotate(20deg);
  }
  
  .instaPic.instapictwo{
    transform: translate(70px, 0px) rotate(40deg);
  }
  
  .instaBtn {
    opacity: 1;
  }

  .fa-codepen, .fa-github {
    opacity: 1 !important;
  }
}

.fa-codepen, .fa-github {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.projects:hover h1 a i.fa-codepen, .projects:hover h1 a i.fa-github{
  opacity: 1;
}

.item {
  opacity: 0;
  transform: translateX(40px);
   -webkit-transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
}

.item:hover {
  transform: translateX(10px);
  color: white;
  background-color: #3668da;
}

.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

.item {
  display: flex;
  border-color: rgba(0,0,0,.125);
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-radius: 3px;
  justify-content: space-between;
}

.label {
  font-size: 8px;
  color: black;
}

.item:hover {
  opacity: 0.8;
}

.item-img {
  height: 70px;
  width: 110px;
  margin-left: 10px;
  object-fit: cover;
}

.item {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.btn {
  font-size: 14px;
}

.contact {
  margin-bottom: 50px;
}

/* clip(0px, 110px, 70px, 0px); */

